name: AppFlowyEditor test

on:
  push:
    branches:
      - "main"

  pull_request:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FLUTTER_VERSION: "3.10.1"

# 3 jobs are configured.
# The first one runs tests on desktop OSs.
# The second runs tests on iOS simulator.
# The third runs tests on Android emulator.
jobs:
  desktop:
    strategy:
      matrix:
        os: [macos-13, macos-12, macos-11, ubuntu-22.04, ubuntu-20.04, windows-2022, windows-2019]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: ${{ env.FLUTTER_VERSION }}
          cache: true

      - name: Run tests
        run: |
          flutter pub get
          flutter analyze .
          dart format --set-exit-if-changed .
          flutter test --coverage

      - name: Upload coverage to Codecov
        uses: Wandalen/wretry.action@v1.0.36
        with:
          action: codecov/codecov-action@v3
          with: |
            fail_ci_if_error: true
            verbose: true
            os: ${{ matrix.os }}
            token: ${{ secrets.CODECOV_TOKEN }}
          attempt_limit: 10
          attempt_delay: 10000
